/* Navbar */

.navbar {
    /* padding: 16px; */
}

nav > * {
    font-size: 12px;
    margin: 0 32px;
}




/* bizkimiz */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.bizkimiz {
    background-color: #FAF4EB;
    width: 100%;
    height: calc(100% - 32px);
    padding: 80px 0px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
}
.bizkimiz-linetext{
    margin-bottom: 12px;
}
.bizkimiz-linetext > *{
}

.bizkimiz-content{
    display: flex;

    justify-content: center;
align-self: center;
align-content: center;
align-items: center;

}
.bizkimiz-content> * {
    margin: 20px;font-family: 'Poppins', sans-serif;
    line-height: 34px;
}

.bizkimiz-image img {
    width: 290px;
    height: 390px;
    background-size:cover;
}


.bizkimiz-text{
    width: 50%;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}
.bizkimiz-text-left{
    display: flex;
    flex-direction: column;
}
.bizkimiz-text-right{

}
.bizkimiz-text h3 {
    font-weight:bold ;
}
.bizkimiz-buton{
    display: flex;
float: right;
}
.bizkimiz-buton button {
    background-color: transparent;
    border: solid #D27100;
    border-radius: 35px;
    padding: 8px 32px;
}
@media (max-width: 1024px) {
    .bizkimiz-image img {
        display: none;
    }
    .bizkimiz {
        padding: 50px 0px;
        text-align: center;
    }
    .bizkimiz-linetext {
        display: flex;
        justify-content: start;
    }
    .bizkimiz-text-left > * {
        margin: 11px 0px;
    }
    .bizkimiz-content > * {
        margin: 0;
    }
    .bizkimiz-text {
        display: flex;
        flex-direction: column;

    }
    .bizkimiz-text-right button{
        width: 100%;
        }
    .bizkimiz-text {width: 80%;}
   .bizkimiz-buton { width: 100%;
justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
}




/* Paketlerimiz */
.paketlerimiz{
    height:calc(100vh);
    background-color: white;
    padding: 60px 100px;
}

.paketlerimiz-linetext{
    margin-bottom: 12px;
}
.paketlerimiz-linetext > *{
}

.paketlerimiz-content{
    display: flex;

    justify-content: center;
align-self: center;
align-content: center;
align-items: center;

}
.paketlerimiz-content> * {
    margin: 20px;font-family: 'Poppins', sans-serif;
    line-height: 34px;
}

.paketlerimiz-image img {
    width: 360px;
    height: 400px;
    background-size:cover;
}

.paketlerimiz-items{
    width: 100%;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}
.paketlerimiz-text-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paketlerimiz-text-items h3 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
}
.paketlerimiz-text-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    }
.paketlerimiz-text-item> *{
margin: 0 18px;
}
.paketlerimiz-text-item-left {
    font-size: 32px;
}
.paketlerimiz-text-item-right {
    align-items: center;
    align-self: center;
    align-content: center;
}
.paketlerimiz-text-item-right h4 {
    font-weight:600 ;
    font-size: 17px;

}
.paketlerimiz-text-item-right p {
font-weight: 500;
font-size: 14px;
}

@media (max-width: 1024px) {
    .paketlerimiz-image img {
        display: none;
    }
    .paketlerimiz{
        padding: 50px 35px;
        height: 110%;
    }
    .paketlerimiz-items{
        width: 90%;
    }
    .paketlerimiz-content> *{
        margin: 0
    }
.paketlerimiz-text-item> *{
margin: 6px;
}
}



/* Ekibimiz */
.ekibimiz{
    height:calc(100vh + 56px);
    background-color: rgb(0, 0, 0);
    padding: 60px 120px;
    color: white;
}
.item{
display: flex;
justify-content: center;
}
.item img {
    width: 320px;
    height: 160px;
}
.ekibimiz-linetext{
    margin-bottom: 12px;
}
.ekibimiz-linetext > *{
}

.ekibimiz-content{
    display: flex;
    justify-content: center;
align-self: center;
align-content: center;
align-items: center;
flex-direction:column;
}
.ekibimiz-top {
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;

}
.ekibimiz-top-left  {
    width: 60%;
}
.ekibimiz-top-right{
align-items: center;
align-self: center;
display: flex;
justify-content: space-between;
flex-direction: column;
}
.ekibimiz-top-right > * {
    margin:  12px 0px
}
.ekibimiz-top-right button {
padding: 12px  32px;
width: 240px;
border-radius: 24px;
    color:white;
    border:none;
background-color:#D27100 ;
}
.ekibimiz-top-right button:nth-child(2) {
    padding: 12px  32px;
    width: 240px;
    border-radius: 24px;
    background-color:black ;
    border: solid white 2px;
    color:white
    }
    .ekibimiz-bottom {
        width: 100%;
    }
.ekibimiz h3 {
    font-weight: 700;
}
.ekibimiz p {
    font-weight: 100;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color:#D27100 !important;

}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    color:#D27100 !important;


}

.carousel-item-padding-40-px img{
height: 120px;
width: auto;
}

@media (max-width: 1024px) {
    .ekibimiz{
        height:calc(125vh);
        background-color: rgb(0, 0, 0);
        padding: 40px 35px;
        color: white;
    }
    .ekibimiz-top {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ekibimiz-top-left{
        width: 80%;
    }
}




/* Contact */


.contact {
    background-color: #d2700074;
    width: 100%;
    height: calc(60%);
    padding: 60px 120px;
    font-family: 'Poppins', sans-serif;
}
.contact-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    justify-content: center;

}
.contact-content > * {
    margin: 12px 18px;
}
.contact-line-text {
    background-color: transparent ;
    opacity: calc(100%) ;
    display: flex;
  
}
.contact-content-left{
    width: 60%;
}
.contact-content-left p{
    font-weight: 500;
    font-size: 2em;
}
.contact-content-right button {
    background-color:#D27100 ;
    color:white;
    border: solid #D27100;
    border-radius: 35px;
    padding: 8px 12px;}


    @media (max-width: 1024px) {
       .contact {
    padding:  40px 30px;
    font-family: 'Poppins', sans-serif;
}
.contact-content {
    display: flex;
    flex-direction: column;

}
.contact-content-left{
    width: 75%;
}
    }
    



/* Tum Koclar  */
.tumkoclar {
    background-color: #FAF4EB;
    height:max-content;
    padding: 48px;
}

.tumkoclar-content{
    padding: 72px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 1rem;
}
.tumkoclar-koc-cart {
}
.tumkoclar-card-desc {
    color: black;
    max-width: 190px;
}

/* koc */


.koc {
    display: flex;
    padding: 48px;
    flex-direction: column;
}
.koc-first-section{
    display: flex;
    justify-content: center;
}
.koc-first-section > *{
    margin: 24px;
    }

.koc-kart-left img {
    width: 340px;
    height: 420px;
}
.koc-kart-right {
    display: flex;
    width: 45%;
    flex-direction: column;
}
.koc-kart-right  > *{
    margin: 8px 0px;
}
.koc-kart-right-top {
    display: flex;
    justify-content: center;
}

.koc-kart-right-top {
display: flex;
justify-content: space-around;
}
.koc-kart-right-top-right {
    display: flex;
    flex-direction: column;
}
.koc-kart-right-top-right > *:nth-child(1) {
background-color: #D27100;
color: white;
border: none;
padding: 4px 24px;
}
.koc-kart-right-top-right > *:nth-child(2) {
    width: 60%;
align-items: center;
margin-top: 12px;
align-self: center;
border-radius: 32px;
border: none;
background-color: #D27100;
color: white;
}


.koc-kart-right-top-left{
    display: flex;
    flex-direction: column;
}
.koc-kart-right-top-left button{
background-color: transparent;
border: #D27100 solid;
border-radius: 35px;
padding: 4px 12px;
}
.koc-kart-right-top-left h3{
    /* width: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    display: flex; */
}

.koc-kart-right-top-left span {
    display: flex;
    flex-direction: row;
}
.koc-kart-right-top-left span button {
width: 100%;
}
.koc-kart-right-top-left span > * {
margin: 0 12px 0 0;
align-items: center;
align-self: center;
}
.koc-kart-right-top-right {


}
.koc-kart-right-bottom{
    align-self: center;
}
.koc-kart-right-bottom p{
    font-size: 12px;
}
.koc-second-section {
    display: flex;
    flex-direction: row;

}

.koc-second-section:nth-child(2) {
    height: 320px;
}
.koc-second-section > *{
    margin: 48px;
    }
