/* Navbar */

.navbar {
    /* padding: 16px; */
}
.activeNavItem{
    /* text-decoration: underline; */
}
.cursorPointer {
    cursor: pointer;
}
nav > * {
    font-size: 12px;
    margin: 0 32px;
}
.fa-caret-down:before{
    color: white;
}

a {
    text-decoration: none;
    color:black
}
a:hover{
    text-decoration: none
}

/* bizkimiz */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.bizkimiz {
    background-color: #FAF4EB;
    width: 100%;
    height: calc(100% - 32px);
    padding: 80px 0px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
}
.bizkimiz-linetext{
    margin-bottom: 12px;
}
.bizkimiz-linetext > *{
}

.bizkimiz-content{
    display: flex;

    justify-content: center;
align-self: center;
align-content: center;
align-items: center;

}
.bizkimiz-content> * {
    margin: 20px;font-family: 'Poppins', sans-serif;
    line-height: 34px;
}

.bizkimiz-image img {
    width: 290px;
    height: 390px;
    background-size:cover;
}


.bizkimiz-text{
    width: 50%;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}
.bizkimiz-text-left{
    display: flex;
    flex-direction: column;
}
.bizkimiz-text-right{

}
.bizkimiz-text h3 {
    font-weight:bold ;
}
.bizkimiz-buton{
    display: flex;
float: right;
}
.bizkimiz-buton button {
    background-color: transparent;
    border: solid #D27100;
    border-radius: 35px;
    padding: 8px 32px;
}
@media (max-width: 1024px) {
    .bizkimiz-image img {
        display: none;
    }
    .bizkimiz {
        padding: 50px 0px;
        text-align: center;
    }
    .bizkimiz-linetext {
        display: flex;
        justify-content: start;
    }
    .bizkimiz-text-left > * {
        margin: 11px 0px;
    }
    .bizkimiz-content > * {
        margin: 0;
    }
    .bizkimiz-text {
        display: flex;
        flex-direction: column;

    }
    .bizkimiz-text-right button{
        width: 100%;
        }
    .bizkimiz-text {width: 80%;}
   .bizkimiz-buton { width: 100%;
justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
}




/* hizmetlerimiz */
.hizmetlerimiz{
    height:calc(110vh);
    background-color: white;
    padding: 60px 100px;
}

.hizmetlerimiz-linetext{
    margin-bottom: 12px;
}
.hizmetlerimiz-linetext > *{
}

.hizmetlerimiz-content{
    display: flex;

    justify-content: center;
align-self: center;
align-content: center;
align-items: center;

}
.hizmetlerimiz-content> * {
    margin: 20px;font-family: 'Poppins', sans-serif;
    line-height: 34px;
}

.hizmetlerimiz-image img {
    width: 360px;
    height: 400px;
    background-size:cover;
    margin: auto;
}

.hizmetlerimiz-items{
    width: 100%;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}
.hizmetlerimiz-text-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hizmetlerimiz-text-items h3 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
}
.hizmetlerimiz-text-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    }
.hizmetlerimiz-text-item> *{
margin: 0 18px;
}
.hizmetlerimiz-text-item-left {
    font-size: 32px;
}
.hizmetlerimiz-text-item-right {
    align-items: center;
    align-self: center;
    align-content: center;
}
.hizmetlerimiz-text-item-right h4 {
    font-weight:600 ;
    font-size: 17px;

}
.hizmetlerimiz-text-item-right p {
font-weight: 500;
font-size: 14px;
}

@media (max-width: 1066px) {
    .hizmetlerimiz-image img {
        display: none;
    }
    .hizmetlerimiz{
        padding: 50px 35px;
        height: 110%;
    }
    .hizmetlerimiz-items{
        width: 90%;
    }
    .hizmetlerimiz-content> *{
        margin: 0
    }
.hizmetlerimiz-text-item> *{
margin: 6px;
}
}



/* Ekibimiz */
.ekibimiz{
    height:calc(120vh);
    background-color: rgb(0, 0, 0);
    padding: 60px 120px;
    color: white;
}
.item{
display: flex;
justify-content: center;
}
.item img {
    width: 320px;
    height: 160px;
}
.ekibimiz-linetext{
    margin-bottom: 12px;
}
.ekibimiz-linetext > *{
}

.ekibimiz-content{
    display: flex;
    justify-content: center;
align-self: center;
align-content: center;
align-items: center;
flex-direction:column;
}
.ekibimiz-top {
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;

}
.ekibimiz-top-left  {
    width: 60%;
}
.ekibimiz-top-right{
align-items: center;
align-self: center;
display: flex;
justify-content: space-between;
flex-direction: column;
}
.ekibimiz-top-right > * {
    margin:  12px 0px
}
.ekibimiz-top-right button {
padding: 12px  32px;
width: 240px;
border-radius: 24px;
    color:white;
    border:none;
background-color:#D27100 ;
}
.ekibimiz-top-right button:nth-child(2) {
    padding: 12px  32px;
    width: 240px;
    border-radius: 24px;
    background-color:black ;
    border: solid white 2px;
    color:white
    }
    .ekibimiz-bottom {
        width: 100%;
        /* margin-left: 18px; */
    }
.ekibimiz h3 {
    font-weight: 700;
}
.ekibimiz p {
    font-weight: 100;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color:#D27100 !important;

}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    color:#D27100 !important;


}

.carousel-item-padding-40-px img{
height: 120px;
width: auto;
}

@media (max-width: 1024px) {
    .ekibimiz{
        height: calc(140vh);
                background-color: rgb(0, 0, 0);
        /* margin: 0px 0; */
        color: white;
    }
    .ekibimiz-top {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ekibimiz-top-left{
        width: 80%;
    }
}

@media (max-width:600px) {
.ekibimiz{
    padding: 40px 30px;
    height: calc(145vh);
}
}




/* Contact */


.contact {
    background-color: #d2700074;
    width: 100%;
    height: calc(60%);
    padding: 60px 120px;
    font-family: 'Poppins', sans-serif;
}
.contact-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    justify-content: center;

}
.contact-content > * {
    margin: 12px 18px;
}
.contact-line-text {
    background-color: transparent ;
    opacity: calc(100%) ;
    display: flex;
  
}
.contact-content-left{
    width: 60%;
}
.contact-content-left p{
    font-weight: 500;
    font-size: 2em;
}
.contact-content-right button {
    background-color:#D27100 ;
    color:white;
    border: solid #D27100;
    border-radius: 35px;
    padding: 8px 12px;}


    @media (max-width: 1024px) {
       .contact {
    padding:  40px 30px;
    font-family: 'Poppins', sans-serif;
}
.contact-content {
    display: flex;
    flex-direction: column;

}
.contact-content-left{
    width: 75%;
}
    }
    



/* Tum Koclar  */
.tumkoclar {
    background:fixed #FAF4EB;
    height:max-content;
    padding: 48px;
}

.tumkoclar-content{
    /* padding: 72px; */
    display: grid;
    grid-template-columns:  repeat(5,200px);
    margin-top: 12px;
    grid-gap: 3rem;
}

@media (max-width: 1250px) {
    .tumkoclar-content{
        grid-template-columns: repeat(4, 200px);
    }
}
@media (max-width: 1024px) {
    .tumkoclar-content{
        grid-template-columns: repeat(3, 200px);
    }
}
@media (max-width: 770px) {
    .tumkoclar-content{
        grid-template-columns: repeat(2, 200px);
    }
}
@media (max-width: 540px) {
    .tumkoclar-content{
        grid-template-columns: repeat(1, 190px);
    }
}

.tumkoclar-cart img {
width: 200px;
height: 200px;
}
.tumkoclar-card-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    color: white;
    /* max-width: 200px; */
    height: 125px;
    padding:  12px;
    background-color: #474747;
    

}
.tumkoclar-card-desc p {
    font-size:small;
    color: #ffffff9a ;
}
.tumkoclar-koc-cart {
    margin: auto;
    /* min-height: 980px; */
}

    @media (max-width: 1024px) {
.tumkoclar-cart img {
width: 100%;
}
.tumkoclar-content{
    padding: 24px 48px ;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}
.tumkoclar-content img {
    width: 100%;
}
.tumkoclar-content > *{
    margin:8px 0 ;
}
.tumkoclar-koc-cart {
width: 100%;
}
    }
    


/* koc */


.koc {
    display: flex;
    padding:  48px 0;
    flex-direction: column;
    background-color: #FAF4EB;
}







.koc-first-section{
    display: flex;
    justify-content: center;
}
.koc-first-section > *{
    margin: 24px;
    }

.koc-kart-left img {
    width: auto;
    height: 320px;
}
.koc-kart-right {
    display: flex;
    width: 45%;
    flex-direction: column;
}
.koc-kart-right  > *{
    margin: 8px 0px;
}
.koc-kart-right-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.koc-kart-right-top {
display: flex;
justify-content: space-around;
}
.koc-kart-right-top-right {
    display: flex;
    flex-direction:row;
}

.koc-kart-right-top-right > *:nth-child(1) {
background-color: #D27100;
color: white;
border: none;
padding: 4px 24px;
width: 80%;
margin: 4px auto;
}
.koc-kart-right-top-right > *:nth-child(2) {
    width: fit-content;
align-items: center;
/* margin-top: 12px; */
align-self: center;
border-radius: 32px;
border: none;
background-color: #D27100;
color: white;
}


.koc-kart-right-top-left{
    display: flex;
    flex-direction: column;
}
.koc-kart-right-top-left button{
background-color: transparent;
border: #D27100 solid;
border-radius: 35px;
padding: 4px 12px;
}
.koc-kart-right-top-left h3{
    /* width: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    display: flex; */
}

.koc-kart-right-top-left span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-self: center;
}
.koc-kart-right-top-left span button {
width: 100%;
}
.koc-kart-right-top-left span > * {
margin: 6px 12px 6px 0;
align-items: center;
align-self: center;
justify-content: space-between;
text-align: center;
}
.koc-kart-right-top-left span p {
    text-align:start;
    }
    

.koc-kart-right-top-right {

width: 100%;
}
.koc-kart-right-bottom{
    align-self: center;
}
.koc-kart-right-bottom p{
    font-size: 14px;
}
.koc-second-section {
    display: flex;
    flex-direction: column;
    padding:0 32px;

}
.koc-second-section svg {
    color: black;
}

.koc-second-section:nth-child(2) {
    /* height: 90%; */
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;

}
.koc-second-section > *{
    
}

.koc-third-section{
padding-bottom: 48px;
}
.koc hr {
    width: 50%;
    border:none;
    margin:48px  0px;
    align-items: center
    ;align-self: center;
    border-top: solid 1px #D27100;
}
.react-player{
    display: none;
}
.koc-kart-right-top-left-end{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.koc-kart-right-top-left h2 {
    align-self: center;
}
.koc-kart-right-top-left-end > *{
margin:  0 12px;
}

@media (max-width: 1024px) {
    .koc-kart-right-top-right {
        flex-direction:row;
        width: 80%;
        margin: auto;
    }
    .koc-kart-right-top-right > *:nth-child(1) {
        width: 70%;
        }
    .koc-kart-right-top-right > *:nth-child(2){
        margin-top: 0;
        margin-left: 4px;
        height: 32px;
    }
    .koc-first-section{
        flex-direction: column;
        align-items: center;
    }
    .koc-kart-right-bottom p{
        width: 80%;
        margin: auto;
    }
    .koc-kart-left img {
        width: auto;
        height: 300px;
    }
    .koc-kart-right{
        width: 100%;
    }
    .koc-kart-right {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
.koc-kart-right-top{
    margin: 12px 0;
}
    .react-player{
        display: none;
    }
    .koc-kart-right-top{
        display: flex;
        flex-direction: column;
    }
    .koc-kart-right-top-left{
        align-items: center;
        width: 100%;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
    }
   
    .koc-kart-right-top-left span {
        width: 70%;
        justify-content: center;
        flex-direction: column;
    }
    .koc-kart-right-top-left span:nth-child(1) {
        flex-direction:row;
    }
    .koc-kart-right-top-left span button {
        width: 120px;
    }    }


/* accordion */


.accordion-clearfix {
    clear: both;
  }
  
  .accordion-box {
    width: 80%;
align-content: center;
margin: auto;
    color: #333;
    border:none;
    border-bottom: 1px solid #4d4d4d;
    transition: 200ms;

  }
  .accordion-title-box {
    cursor: pointer;
    padding: 15px;
    background-color: transparent;
  }
  .accordion-title {
    width: calc(100% - 20px);
    font-weight: 800;
  }
  .accordion-icon {
    width: 20px;
    display: flex;
    color: #666;
    float: right;
  }
  .accordion-icon .fa {
    font-size: 20px;
    transition: all 0.1s;
    transform: rotate(90deg);
  }
  .accordion-icon .fa.down {
    transform: rotate(0deg);
  }
  
  .accordion-content {
    padding: 15px;
border: none;
font-weight: 500;
}

@media (max-width: 1024px) {
    .accordion-box{
        width: 95%;
    }

}
