.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
    /* background-color: #d3d3d3; */
    /* background-image: linear-gradient(225deg, #d3d3d3 0%, #57606f 74%); */
    /* padding-top: 6rem; */
    overflow: hidden;
}
.projects a {
    text-decoration: none;
height: auto;
}

.projects-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #272727;
    white-space: nowrap;
}

.project-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:35rem; */
    width: 100%;
    overflow: hidden;
    transition: 500ms;
}
.project-card {
    margin: 0 1rem;
    min-height: 16rem;
    height: 300px;
    width: 100%;
    border-radius: 6px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    position: relative;
    transition: 300ms;
}
.project-card:hover {
    transform: scale3d(0.98, 0.98, 1);
}

.project-card-img {
    display: flex;
    width: 100%;
    height: 70%;
    border-radius: 6px 6px 0 0 ;
    object-fit: cover;
    user-select: none;
}

.project-card-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42%;
    padding: 8px 8px 0px 8px;
}

.project-card-desc span{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #dce1eb;
    user-select: none;
}
.project-card-desc p{
    display: flex;
    font-size: 1rem;
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, Helvetica, sans-serif;
    color: #dce1eb;
    height: 100%;
    overflow-y: auto;
    padding-right: 4px;
}
.project-card-desc p::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}
.project-card-desc div {
    display: flex;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    overflow: hidden;
}
.project-card-desc div a{
    display: flex;
    align-items: center;
    margin: 0 12px;
    color: #dce1eb;
    opacity: 0.9;
    transition: 250ms;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 4px;
    color: #1a1a1a;
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
    width: 28px;
    height: 27.2px;
    overflow: hidden;
    text-align: left;
    transition: 350ms;
}
.project-card-desc div a span{
    margin-left: 0.75vw;
    font-size: inherit;
    color: inherit;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.project-card-desc div a svg{
    display: flex;
    flex: 0 0 auto;
}

.project-card-desc div a:hover{
    width: 150px;
}

@media (max-width: 510px) {
    .project-card-img {
        height: 55%;
    }
    .project-cards {
        height: 80%;
        width: 110%;
    }
    .project-card-desc {
        height: 52%;
    }
}
@media (max-width: 400px) {
    .projects {
        height: 100%;
        /* padding-top: 2rem; */
        width: 100%;
    }
    .projects-header{
        font-size: 2rem;
    }
    .project-cards {
        width: 120%;
    }
}












/* Projects Two  */


.projectsTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: #d3d3d3; */
    /* background-image: linear-gradient(225deg, #d3d3d3 0%, #57606f 74%); */
    /* padding-top: 6rem; */
    overflow: hidden;
    transition: 200ms;
}
.projectsTwo svg {
    color: rgba(0, 0, 0, 0.466);
}
.projectsTwo svg:hover {
    color: black;
}
.projectsTwo a {
    text-decoration: none;

}

.projectsTwo-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #272727;
    white-space: nowrap;
}

.projectTwo-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20rem;
    width:  100%;
    overflow: hidden;
    transition: 500ms;
}
.projectTwo-card {
    margin: 0 1rem;
    min-height: 14rem;
    max-width: 180px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    position: relative;
    transition: 300ms;
}
.projectTwo-card:hover {
    transform: scale3d(0.98, 0.98, 1);
}

.projectTwo-card-img {
    display: flex;
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0  ;
    object-fit: cover;
    user-select: none;
}

.projectTwo-card-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 4px 0px 4px;
}

.projectTwo-card-desc span{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #dce1eb;
    user-select: none;
}
.projectTwo-card-desc p{
    display: flex;
    font-size: 1rem;
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', Arial, Helvetica, sans-serif;
    color: #dce1eb;
    height: 100%;
    overflow-y: auto;
    padding-right: 4px;
}
.projectTwo-card-desc p::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}
.projectTwo-card-desc div {
    display: flex;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    overflow: hidden;
}
.projectTwo-card-desc div a{
    display: flex;
    align-items: center;
    margin: 0 12px;
    color: #dce1eb;
    opacity: 0.9;
    transition: 250ms;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 4px;
    color: #1a1a1a;
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
    width: 28px;
    height: 27.2px;
    overflow: hidden;
    text-align: left;
    transition: 350ms;
}
.projectTwo-card-desc div a span{
    margin-left: 0.75vw;
    font-size: inherit;
    color: inherit;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.projectTwo-card-desc div a svg{
    display: flex;
    flex: 0 0 auto;
}

.projectTwo-card-desc div a:hover{
    width: 150px;
}

@media (max-width: 510px) {
    .projectTwo-card-img {
        height: 60%;
    }
    .projectTwo-cards {
        height: 80%;
        width: 110%;
    }
    .projectTwo-card-desc {
        height: 52%;
    }
}
@media (max-width: 400px) {
    .projectsTwo {
        /* padding-top: 2rem; */
    }
    .projectsTwo-header{
        font-size: 2rem;
    }
    .projectTwo-cards {
        height: 75%;
        width: 100%;
    }
}




